#content {
	position: relative;
	float: left;
	padding-left: 0 !important;	
	width: 100% !important;
	margin-top: 20px;
}
#login-form, #logout-form {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	padding-right: 0 !important;	
}

